<div class="tab-pane fade show active" id="abstract" role="tabpanel" aria-labelledby="abstract-tab">
	<h1 class="h3 text-primary">{{data.title}}</h1>
	<p><b class="text-primary">Authors: </b><i>{{data.author_names}}</i></p>
	<a 
		data-badge="true"
		data-hide-when-empty="true"
		href="https://plu.mx/plum/a/?doi={{data.doi}}" 
		data-popup="bottom" 
		data-size="medium" 
		class="plumx-plum-print-popup plum-liberty-theme" 
		data-site="plum" 
		data-pass-hidden-categories="true"
	>
			{{data.title}}
	</a>
	<article>
		<p class="lead font-normal">{{data.abstract}}</p>
		<hr />
		<p class="mb-0 pb-2"><b class="text-primary">Keywords: </b><i>{{data.keywords}}</i></p>
	</article>
	<hr>
	<section>
		{% if data.citation_count > 0 %}
			<h4>Citations</h4>

			{% for cite in data.citations %}
			<div class="card mb-3">
				<h5>{{cite.title}}</h5>
				<p><a href="{{cite.link.url}}">{{cite.link.title}}</a></p>
			</div>
			{% endfor %}
		{% endif %}
	</section>
</div>
