<div class="tab-pane fade" id="citation" role="tabpanel" aria-labelledby="citation-tab">
	<div class="row">
		<div class="col-md-3 mb-3">
			<a href="https://www.ejmanager.com/index_htc.php?mno={{ _GET('mno') }}&cf=bibtext" class="btn btn-outline-primary btn-block" target="_blank" rel="noopener noreferrer">BibText</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="https://www.ejmanager.com/index_htc.php?mno={{ _GET('mno') }}&cf=bookends" class="btn btn-outline-primary btn-block" target="_blank" rel="noopener noreferrer">Bookends</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="https://www.ejmanager.com/index_htc.php?mno={{ _GET('mno') }}&cf=easybib" class="btn btn-outline-primary btn-block" target="_blank" rel="noopener noreferrer">EasyBib</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="https://www.ejmanager.com/index_htc.php?mno={{ _GET('mno') }}&cf=endnote-tagged" class="btn btn-outline-primary btn-block" target="_blank" rel="noopener noreferrer">EndNote (tagged)</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="https://www.ejmanager.com/index_htc.php?mno={{ _GET('mno') }}&cf=endnote-8-xml" class="btn btn-outline-primary btn-block" target="_blank" rel="noopener noreferrer">EndNote (xml)</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="https://www.ejmanager.com/index_htc.php?mno={{ _GET('mno') }}&cf=medlars" class="btn btn-outline-primary btn-block" target="_blank" rel="noopener noreferrer">Medlars</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="https://www.ejmanager.com/index_htc.php?mno={{ _GET('mno') }}&cf=mendeley" class="btn btn-outline-primary btn-block" target="_blank" rel="noopener noreferrer">Mendeley</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="https://www.ejmanager.com/index_htc.php?mno={{ _GET('mno') }}&cf=refworks-tagged" class="btn btn-outline-primary btn-block" target="_blank" rel="noopener noreferrer">RefWorks (tagged)</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="https://www.ejmanager.com/index_htc.php?mno={{ _GET('mno') }}&cf=papers" class="btn btn-outline-primary btn-block" target="_blank" rel="noopener noreferrer">Papers</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="https://www.ejmanager.com/index_htc.php?mno={{ _GET('mno') }}&cf=reference-manager" class="btn btn-outline-primary btn-block" target="_blank" rel="noopener noreferrer">Ref Manager</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="https://www.ejmanager.com/index_htc.php?mno={{ _GET('mno') }}&cf=ris" class="btn btn-outline-primary btn-block" target="_blank" rel="noopener noreferrer">RIS</a>
		</div>
		<div class="col-md-3 mb-3">
			<a href="https://www.ejmanager.com/index_htc.php?mno={{ _GET('mno') }}&cf=zotero" class="btn btn-outline-primary btn-block" target="_blank" rel="noopener noreferrer">Zotero</a>
		</div>
	</div>
</div>
