{% extends "layout.twig" %}
{% block content  %}
	<header class="bg-light py-5">
		<div class="container-fluid text-center">
				<h1>{{ meta.title }}</h1>
				<p>
					<span class="text-primary font-weight-bold">Year:</span> {{ data.issue_details.year }} |
					<span class="text-primary font-weight-bold">Volume:</span> {{ data.issue_details.volume }} |
					<span class="text-primary font-weight-bold">Issue:</span> {{ data.issue_details.issue }}
				</p>
		</div>
</header>
<main class="container my-5">
	{% for category,articles in data.articles %}
		<h2 class="h4 font-weight-bold px-md-5 px-2 bg-dark shadow-lg text-light rounded-lg mb-4 py-3">{{ category }}</h2>
		{% for article in articles %}
			<article class="bg-light rounded p-5 mb-5">
				<span class="badge text-uppercase bg-dark badge-pill">{{ category }}</span>
				<h1 class="h5 mt-3 font-weight-bold">
					<a href="{{ _ENV('JOURNAL_DOMAIN') }}/article?mno={{ article.mno }}">{{ article.title | raw }}</a>
				</h1>
				<p class="font-italic">{{ article.authors }}</p>
				<div>
					<p>
						<span class="text-primary font-weight-bold">Year:</span> {{ article.issue_details.year }} |
						<span class="text-primary font-weight-bold">Volume:</span> {{ article.issue_details.volume }} |
						<span class="text-primary font-weight-bold">Issue:</span> {{ article.issue_details.issue }} |
						<span class="text-primary font-weight-bold">Pages:</span> {{ article.issue_details.start_page }} - {{ article.issue_details.end_page }}
					</p>
				</div>
				<div>
					<a class="btn btn-primary btn-sm" href="{{ _ENV('JOURNAL_DOMAIN') }}article?mno={{ article.urls.mno }}">Abstract</a>
					{% if article.urls.pdf %}
						<a class="btn btn-danger btn-sm" href="{{ _ENV('JOURNAL_DOMAIN') }}article?mno={{ article.urls.mno }}">PDF</a>
					{% endif %}
					{% if article.urls.html %}
					<a class="btn btn-outline-primary btn-sm" href="{{ _ENV('JOURNAL_DOMAIN') }}article?mno={{ article.urls.mno }}">Fulltext HTML</a>
					{% endif %}
					<a class="btn btn-outline-secondary font-weight-bold btn-sm" target="_blank" rel="noopener noreferrer" href="https://doi.org/{{ article.urls.doi }}">DOI: {{ article.urls.doi }}</a>
				</div>
			</article>
		{% endfor %}
	{% endfor %}

</main>
{%  endblock  %}