{% include "home/components/header.twig" %}
{% if SETTINGS.show_metrics %}
<div class="row gap-4">
	<div class="col-md-4">
		<div class="card">
			<h6><span class="badge bg-primary">{{ journal_data.decission }}</span> Days</h6>
			<small>{{ journal_data.decission_text }}</small>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<h6 class="mt-3"><span class="badge bg-primary">{{ journal_data.acceptance }}</span> Days</h6>
			<small>{{ journal_data.acceptance_text }}</small>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<h6 class="mt-3"><span class="badge bg-primary">{{ journal_data.rate }}</span> %</h6>
			<small>{{ journal_data.rate_text }}</small>
		</div>
	</div>
</div>
{% endif %}
{% include "home/components/articles.twig" %}
{% include "home/components/editorial_board.twig" %}
