<section>
	<ul class="nav nav-pills nav-fill mb-4" id="articles_tab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="read-tab" data-toggle="tab" href="#most_read_articles" role="tab" aria-controls="home" aria-selected="true">Most Read Articles</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="downloaded-tab" data-toggle="tab" href="#most_downloaded_articles" role="tab" aria-controls="profile" aria-selected="false">Most Downloaded Articles</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="cited-tab" data-toggle="tab" href="#most_cited_articles" role="tab" aria-controls="cited" aria-selected="false">Most Cited Articles</a>
		</li>
	</ul>
	<div class="mb-5">
		<div class="tab-content" id="articles_tab_content">
			<div class="tab-pane article_list fade show active" id="most_read_articles" role="tabpanel" aria-labelledby="most_read_articles-tab"> 
				{% for article in most_read_articles %}
					<article class="bg-light rounded shadow-lg p-5 mb-5">
						<h1 class="h4 font-weight-bold">
							<a href="{{ _ENV('JOURNAL_DOMAIN') }}/article?mno={{ article.mno }}">{{ article.title }}</a>
						</h1>
						<p class="font-italic">{{ article.authors }}</p>
						<div>
							<p>
								<span class="text-primary font-weight-bold">Year:</span> {{ article.issue_details.year }} |
								<span class="text-primary font-weight-bold">Volume:</span> {{ article.issue_details.volume }} |
								<span class="text-primary font-weight-bold">Issue:</span> {{ article.issue_details.issue }} |
								<span class="text-primary font-weight-bold">Pages:</span> {{ article.issue_details.start_page }} - {{ article.issue_details.end_page }}
							</p>
						</div>
						<div>
							<a class="btn btn-primary btn-sm" href="{{ _ENV('JOURNAL_DOMAIN') }}article?mno={{ article.mno }}">Abstract</a>
							<a class="btn btn-light btn-sm" href="https://doi.org/{{ article.doi }}">DOI: {{ article.doi }}</a>
						</div>
					</article>
				{% endfor %}
			</div>
			<div class="tab-pane article_list fade" id="most_downloaded_articles" role="tabpanel" aria-labelledby="most_downloaded_articles-tab"> 
				{% for article in most_downloaded_articles %}
					<article class="bg-light rounded shadow-lg p-5 mb-5">
						<h1 class="h4 font-weight-bold">
							<a href="{{ _ENV('JOURNAL_DOMAIN') }}/article?mno={{ article.mno }}">{{ article.title }}</a>
						</h1>
						<p class="font-italic">{{ article.authors }}</p>
						<div>
							<p>
								<span class="text-primary font-weight-bold">Year:</span> {{ article.issue_details.year }} |
								<span class="text-primary font-weight-bold">Volume:</span> {{ article.issue_details.volume }} |
								<span class="text-primary font-weight-bold">Issue:</span> {{ article.issue_details.issue }} |
								<span class="text-primary font-weight-bold">Pages:</span> {{ article.issue_details.start_page }} - {{ article.issue_details.end_page }}
							</p>
						</div>
						<div>
							<a class="btn btn-primary btn-sm" href="{{ _ENV('JOURNAL_DOMAIN') }}article?mno={{ article.mno }}">Abstract</a>
							<a class="btn btn-light btn-sm" href="https://doi.org/{{ article.doi }}">DOI: {{ article.doi }}</a>
						</div>
					</article>

				{% endfor %}
			</div>
			<div class="tab-pane article_list fade" id="most_cited_articles" role="tabpanel" aria-labelledby="most_cited_articles-tab"> 
				{% for article in most_cited_articles %}
					<article class="bg-light rounded shadow-lg p-5 mb-5">
						<h1 class="h4 font-weight-bold">
							<a href="{{ _ENV('JOURNAL_DOMAIN') }}/article?mno={{ article.mno }}">{{ article.title }}</a>
						</h1>
						<p class="font-italic">{{ article.authors }}</p>
						<div>
							<p>
								<span class="text-primary font-weight-bold">Year:</span> {{ article.issue_details.year }} |
								<span class="text-primary font-weight-bold">Volume:</span> {{ article.issue_details.volume }} |
								<span class="text-primary font-weight-bold">Issue:</span> {{ article.issue_details.issue }} |
								<span class="text-primary font-weight-bold">Pages:</span> {{ article.issue_details.start_page }} - {{ article.issue_details.end_page }} |
								<span class="text-primary font-weight-bold">Cited:</span> {{ article.cited }}
							</p>
						</div>
						<div>
							<a class="btn btn-primary btn-sm" href="{{ _ENV('JOURNAL_DOMAIN') }}article?mno={{ article.mno }}">Abstract</a>
							<a class="btn btn-light btn-sm" href="https://doi.org/{{ article.doi }}">DOI: {{ article.doi }}</a>
						</div>
					</article>

				{% endfor %}
			</div>
		</div>
	</div>
</section>