<header class="bg-light py-5" id="main_header">
	<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2 col-md-4 px-4">
			<img loading="lazy" src="{{ _ENV('JOURNAL_DOMAIN') }}/admin/uploads/cover/{{ header_data.cover_image }}" alt="{{ _ENV('JOURNAL_TITLE') }} Cover" class="img-fluid shadow rounded-lg mb-2">
				<p class="mb-4">
				{%  if( header_data.issn != '' )  %}
					<div class="d-block" id="issn"><span class="font-weight-bold text-primary">ISSN: </span>{{ header_data.issn }}</div>
				{% endif %}
				{%  if( header_data.eissn != '' )  %}
					<div class="d-block" id="eissn"><span class="font-weight-bold text-primary">E-ISSN: </span>{{ header_data.eissn }}</div>
				{% endif %}
			</p>
		</div>
		<div class="col-lg-7 align-self-center col-md-8 px-4">
			<h1 class="text-primary h2">{{ _ENV('JOURNAL_TITLE') }}</h1>
			{{ header_data.header_text | raw }}
			<a href="http://ejmanager.com/my/{{ _ENV('JOURNAL_ABBREV') | lower }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary px-3">Submit a Menuscript</a>
			<a href="/current-issue" class="btn btn-outline-primary px-3">Current Issue</a>
		</div>
	</div>
	</div>
</header>